# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce

# Catalog Service
CATALOG_PORT=3001
ORDERS_PORT=3002

CATALOG_SERVICE_URL=http://catalog-service:3001

# API Gateway
GATEWAY_PORT=3000
CATALOG_SERVICE_URL_GW=http://catalog-service:3001
ORDERS_SERVICE_URL_GW=http://orders-service:3002

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=admin
